.wordCard {
    // width: 500px;
    background-color: rgb(28, 202, 129);
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom:20px;
    &__word {
        // padding: 20px 40px 40px 20px;

    }
    &__wordTranscrTransl{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        p{
            padding-left: 10px;
        }
    }
    &__example{
        // padding: 20px 40px 40px 20px;
    }
    img {
        border-radius: 20px;
        width: 100%;
    }

}

li {
    list-style-type: none;
}